.crt-command-line {
    padding-top: 0px;
    padding-bottom: 0px;
}

.instructions pre code {
    font-weight: bolder;
    color: pink;
}

.instructions pre {
    margin-bottom: 4px;
}

.react-terminal-wrapper {
    padding: 0px;
    margin: 0px;
}

.react-terminal-wrapper:before {
    content: none;
}

.react-terminal {
    padding: 40px;
    height: 100%;
}

.react-terminal {
    height: calc(100vh - 384px - 80px);
}
